---
import { AtSymbolIcon } from '@heroicons/react/24/outline'
---
<div class="flex items-center w-full text-slate-400 !focus-within:text-slate-50 transition-color rounded-xl bg-gray-700 border border-gray-600 sf-ripple-container">
    <AtSymbolIcon className="w-10 h-7 relative inset-y-0 left-2 flex" />
    <input type="email" name="email" id="email" placeholder="Email" class="text-sm rounded-xl block w-full px-3 p-2 h-full bg-transparent outline-none">
</div>