---
import Layout from '../layouts/Layout.astro';
import SectionBanner from '../components/Banner.astro';
---

<Layout title="Welcome to Astro." description="">
	<main>
		<SectionBanner />
	</main>
</Layout>

<style>
</style>