<section class="grid grid-cols-2 grid-rows-2 gap-4 max-h-[41rem] md:max-h-96">
    <div class="col-span-1 row-span-2 relative">
        <a href="series/comic-el-hijo-de-la-espada">
            <img class="h-full w-full object-cover rounded-md" src="/hijo_menor_olympus-xl.webp" alt="El hijo menor del maestro de la espada">
            <div class="absolute bottom-0 py-2 px-2 md:py-4 gap-2 bg-gradient-to-b from-transparent via-gray-800/70 to-gray-800/90">
                <h3 class="text-lg md:text-xl">El hijo menor del maestro de la espada</h3>
                <p class="line-clamp-2 font-light text-sm text-gray-400">Jin Runcandel era el hijo menor de Runcandel, la familia de espadachines más prestigiosa del país... Y el mayor fracaso en la historia de Runcandel. A él, que fue expulsado miserablemente y llegó a un final sin sentido, se le dio otra oportunidad. "¿Cómo quieres usar este poder?" "Quiero usarlo para mí". Recuerdos de su vida pasada, un talento abrumador y un contrato con Dios... Los preparativos para convertirse en el más grande están completos...</p>
            </div>
        </a>
    </div>
    <div class="col-start-2 relative">
        <a href="series/comic-el-perezoso">
            <img class="h-full w-full object-cover rounded-md" src="/banner-xl.webp" alt="ruru maestra del espadachin" >
            <h3 class="absolute w-full bottom-0 py-2 px-2 text-lg md:text-xl bg-gradient-to-b from-transparent via-gray-800/70 to-gray-800/90">ruru maestra del espadachin</h3>
        </a>
    </div>
    <div class="col-start-2 row-end-3 relative">
        <a href="series/comic-nueva-vida-del-jugador7777">
            <img class="h-full w-full object-cover rounded-md" src="/re_life-xl.webp" alt="Nueva Vida del Jugador">
            <h3 class="absolute w-full bottom-0 py-2 px-2 text-lg md:text-xl bg-gradient-to-b from-transparent via-gray-800/70 to-gray-800/90">Nueva Vida del Jugador</h3>
        </a>
    </div>
</section>