---
import { RectangleStackIcon } from '@heroicons/react/24/solid'
import { Square3Stack3DIcon } from '@heroicons/react/24/solid'
import { ArrowUpIcon } from '@heroicons/react/24/solid'
---
<footer class="container grid grid-rows-2 mx-auto mb-16 mt-36 items-center md:items-initial justify-start md:flex-row gap-4 md:gap-0 px-4 md:px-0">
    <nav class="flex gap-4">
        <a class="flex gap-2 bg-gray-800 items-center text-sm md:text-lg px-3 rounded-md hover:bg-gray-800" href="#top"><ArrowUpIcon className="w-5" /></a>
		<a class="flex gap-2 items-center text-sm md:text-lg px-3 rounded-md hover:bg-gray-800 h-12" href="/series"><RectangleStackIcon className="w-5" /> Series</a>
		<a class="flex gap-2 items-center text-sm md:text-lg px-3 rounded-md hover:bg-gray-800 h-12" href="/capitulos"><Square3Stack3DIcon className="w-5" /> Capitulos</a>
	</nav>
    <span class="text-gray-400 md:text-center py-2">
        Olympus Scanlation es un sitio donde leer tus series Coreanas y Chinas traducidas al español por muchos grupos que lo conforman. Este sitio está protegido por reCAPTCHA. Se aplican la Política de privacidad y las Condiciones del servicio de Google.
    </span>
</footer>